* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    justify-content: center;
    margin: 10px auto;
    flex-wrap: wrap;
}

.container2{
    display: flex;
    flex-direction: column;
}

.main{
    display: flex;
}

nav,header,article,aside,footer{
    padding: 1em 0;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

nav {
    background-color: pink;
    width: 200px;
    height: 600px;
}

header,footer {
    background-color: yellow;
    height: 100px;
    width: 900px;
}

article {
    background-color: whitesmoke;
    height: 400px;
    width: 650px;
}

aside {
    background-color: cyan;
    height: 400px;
    width: 250px;
}
